Jag kan börja med att säga att jag körde fast när jag skulle skriva mitt storprojekt, 
och samtidigt tappade jag motivationen lite. Därför valde jag att börja med ett nytt projekt (E-uppgiften)

Jag började med att studera noga hur allt hängde ihop, eftersom jag hade tidigare erfarenhet ifån storprojektet gick 
det rätt snabbt att förstå hur slim filerna hängde ihop.

Jag började med att skapa ett formulär som ändrar användarnamnet, detta hade jag inga problem med.
Sedan utvecklade jag note-formuläret, jag lade till både rubrik och författare. Detta hade jag lite problem med,
fast även det löste sig rätt snabbt. 

Sedan skulle jag göra ett inloggningsformulär, detta hade jag en hel del problem med i början, men tillslut löste jag det genom
att lägga varenda konto i varsin hash med nycklarna :username och :password. Sedan la jag varenda hash ner i en lista (array) "users"
När jag hade fått i ordning på alla hashes och arrays började jag att jobba med en error-sida. 

Jag hade absolut inga problem när jag skapade error-sidan, det rullade på bra. 
Till sist kommenterade jag all kod i app.rb, alla funktioner formulär och routes. 

Så det som gick mindre bra var egentligen när jag körde fast mitt storprojekt, men det är som det är. 